In [1]:
from impala.dbapi import connect
from impala.error import (  # noqa
    Error, Warning, InterfaceError, DatabaseError, InternalError,
    OperationalError, ProgrammingError, IntegrityError, DataError,
    NotSupportedError)
from impala.util import warn_deprecate, warn_protocol_param
from impala.util import as_pandas

In [2]:
conn = connect(host='10.222.117.23', port=21050, database='swat', 
               auth_mechanism='PLAIN', user='swat_appln', password='Sw@tappln')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('select * from swat.SWAT_RONALD_TEST LIMIT 10')
#print (cursor.description)
#results = cursor.fetchall()

In [5]:
df = as_pandas(cursor)
df.head(5)

  vessel_code voyage_number trade_bound sa_service_teu sa_weight
0         LMB           059           S          70.00    840.00
1         LMB           059           S         355.00   4260.00
2         LMB           059           S          96.00   1152.00
3         LMB           059           S          25.00    300.00
4         LMB           059           S          20.00    240.00