In [7]:
import cx_Oracle
ora_conn = cx_Oracle.connect('global_supp/global_supp@exn3-scan.oocl.com:1521/irnpsb.oocl')

cursor = ora_conn.cursor()
cursor.execute('select * from GEO_CITY where rownum < 10')
res = cursor.fetchall()
cursor.close()

#print (res)

In [10]:
import pandas as pd

# query Oracle using ora_conn and put the result into a pandas Dataframe
df_ora = pd.read_sql('select * from GEO_CITY where rownum < 10', con=ora_conn)    
df_ora

,CITY_ID,CITY_UUID,CITY_CDE,CITY_LOCAL_NME,COUNTRY_CDE,DIVN_ID,LOWER_DIVN_LOCAL_NME,UPPER_DIVN_LOCAL_NME,COUNTRY_ENG_NME,CONTINENT_NME,...,MTY_RTN_FCIL,CREATE_BY,CREATE_DT_GMT,CREATE_CLIENT_ID,UPDATE_BY,UPDATE_DT_GMT,UPDATE_CLIENT_ID,PIC_VERSION_NUM,ODS_CREATE_DT_GMT,ODS_UPDATE_DT_GMT
0,100000000008798,2335698774237060,PSD,Angleton,US,1.000000e+14,Brazoria,Texas,United States,North America,...,,ODSOWNER,2006-03-26 06:25:17.909975,hkhppd29,CDROWNER,2006-08-20 10:54:43.727361,hkhppd29,None,2003-03-13 06:07:01,2007-06-26 07:25:47
1,100000000008799,461796493421253,LIE,Angleur,BE,1.000000e+14,Liege,Wallonie,Belgium,Europe,...,ANR02,ODSOWNER,2006-03-26 06:25:17.932806,hkhppd29,CDROWNER,2006-08-20 10:54:43.791502,hkhppd29,None,2001-11-23 19:52:50,2013-06-07 02:44:57
2,100000000008800,2047420569888037,,Angliers,FR,1.000000e+14,Vienne,Poitou Charentes,France,Europe,...,,ODSOWNER,2006-03-26 06:25:17.955200,hkhppd29,CDROWNER,2006-08-20 10:54:43.806506,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51
3,100000000008801,2456866243882479,LHT,Angmering,GB,1.000000e+14,West Sussex,England,United Kingdom,Europe,...,,ODSOWNER,2006-03-26 06:25:17.978620,hkhppd29,CDROWNER,2006-08-20 10:54:43.821556,hkhppd29,None,2004-05-14 03:53:13,2004-05-14 03:53:13
4,100000000008802,461798104037737,,Angoda,LK,NaN,,,Sri Lanka,Asia,...,None,ODSOWNER,2006-03-26 06:25:18.001195,hkhppd29,CDROWNER,2006-08-20 10:54:43.835963,hkhppd29,None,2001-11-29 23:13:56,2016-01-22 05:44:58
5,100000000008803,2188126382595936,NCO,Angola,US,1.000000e+14,Erie,New York,United States,North America,...,,ODSOWNER,2006-03-26 06:25:18.004838,hkhppd29,ODSOWNER,2006-11-03 07:45:24.449986,hkhppd17,None,2002-02-12 19:08:28,2006-11-03 07:45:20
6,100000000008804,461802935878403,ANG,Angola,US,1.000000e+14,Steuben,Indiana,United States,North America,...,CHI03,ODSOWNER,2006-03-26 06:25:18.027171,hkhppd29,CDROWNER,2006-08-20 10:54:43.864372,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51
7,100000000008805,461798104036871,,Angono,PH,1.000000e+14,,Rizal,Philippines,Asia,...,None,ODSOWNER,2006-03-26 06:25:18.049513,hkhppd29,CDROWNER,2006-08-20 10:54:43.878543,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51
8,100000000008806,461802935869615,AGE,Angouleme,FR,1.000000e+14,Charente,Poitou Charentes,France,Europe,...,BOD26,ODSOWNER,2006-03-26 06:25:18.057328,hkhppd29,CDROWNER,2006-08-20 10:54:43.892728,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51

In [9]:
df_ora = pd.read_sql('select * from GEO_CITY where rownum < :num', params={"num":10}, 
                     con=ora_conn) 
df_ora

,CITY_ID,CITY_UUID,CITY_CDE,CITY_LOCAL_NME,COUNTRY_CDE,DIVN_ID,LOWER_DIVN_LOCAL_NME,UPPER_DIVN_LOCAL_NME,COUNTRY_ENG_NME,CONTINENT_NME,...,MTY_RTN_FCIL,CREATE_BY,CREATE_DT_GMT,CREATE_CLIENT_ID,UPDATE_BY,UPDATE_DT_GMT,UPDATE_CLIENT_ID,PIC_VERSION_NUM,ODS_CREATE_DT_GMT,ODS_UPDATE_DT_GMT
0,100000000008798,2335698774237060,PSD,Angleton,US,1.000000e+14,Brazoria,Texas,United States,North America,...,,ODSOWNER,2006-03-26 06:25:17.909975,hkhppd29,CDROWNER,2006-08-20 10:54:43.727361,hkhppd29,None,2003-03-13 06:07:01,2007-06-26 07:25:47
1,100000000008799,461796493421253,LIE,Angleur,BE,1.000000e+14,Liege,Wallonie,Belgium,Europe,...,ANR02,ODSOWNER,2006-03-26 06:25:17.932806,hkhppd29,CDROWNER,2006-08-20 10:54:43.791502,hkhppd29,None,2001-11-23 19:52:50,2013-06-07 02:44:57
2,100000000008800,2047420569888037,,Angliers,FR,1.000000e+14,Vienne,Poitou Charentes,France,Europe,...,,ODSOWNER,2006-03-26 06:25:17.955200,hkhppd29,CDROWNER,2006-08-20 10:54:43.806506,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51
3,100000000008801,2456866243882479,LHT,Angmering,GB,1.000000e+14,West Sussex,England,United Kingdom,Europe,...,,ODSOWNER,2006-03-26 06:25:17.978620,hkhppd29,CDROWNER,2006-08-20 10:54:43.821556,hkhppd29,None,2004-05-14 03:53:13,2004-05-14 03:53:13
4,100000000008802,461798104037737,,Angoda,LK,NaN,,,Sri Lanka,Asia,...,None,ODSOWNER,2006-03-26 06:25:18.001195,hkhppd29,CDROWNER,2006-08-20 10:54:43.835963,hkhppd29,None,2001-11-29 23:13:56,2016-01-22 05:44:58
5,100000000008803,2188126382595936,NCO,Angola,US,1.000000e+14,Erie,New York,United States,North America,...,,ODSOWNER,2006-03-26 06:25:18.004838,hkhppd29,ODSOWNER,2006-11-03 07:45:24.449986,hkhppd17,None,2002-02-12 19:08:28,2006-11-03 07:45:20
6,100000000008804,461802935878403,ANG,Angola,US,1.000000e+14,Steuben,Indiana,United States,North America,...,CHI03,ODSOWNER,2006-03-26 06:25:18.027171,hkhppd29,CDROWNER,2006-08-20 10:54:43.864372,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51
7,100000000008805,461798104036871,,Angono,PH,1.000000e+14,,Rizal,Philippines,Asia,...,None,ODSOWNER,2006-03-26 06:25:18.049513,hkhppd29,CDROWNER,2006-08-20 10:54:43.878543,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51
8,100000000008806,461802935869615,AGE,Angouleme,FR,1.000000e+14,Charente,Poitou Charentes,France,Europe,...,BOD26,ODSOWNER,2006-03-26 06:25:18.057328,hkhppd29,CDROWNER,2006-08-20 10:54:43.892728,hkhppd29,None,2001-11-23 19:52:51,2001-11-23 19:52:51

https://github.com/LucaCanali/Miscellaneous/blob/master/Oracle_Jupyter/Oracle_IPython_cx_Oracle_pandas.ipynb